<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />




    <application
        android:name=".DemoApplication"
        android:allowBackup="true"

        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TXIoTDeviceDemo">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TXIoTDeviceDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.TXIoTDeviceDemo" />
        <activity
            android:name=".MonitorActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/monitor_title"
            android:theme="@style/Theme.TXIoTDeviceDemo.Monitor" />
        <activity
            android:name=".CallActivity"
            android:exported="false"
            android:label="@string/call_title"
            android:theme="@style/Theme.TXIoTDeviceDemo" />
        <activity
            android:name=".ContactsActivity"
            android:exported="false"
            android:label="@string/contacts_title"
            android:theme="@style/Theme.TXIoTDeviceDemo" />
        <activity
            android:name=".AITalkActivity"
            android:exported="false"
            android:label="@string/aitalk_title"
            android:theme="@style/Theme.TXIoTDeviceDemo" />
        <activity
            android:name=".DataModelActivity"
            android:exported="false"
            android:label="@string/thing_title"
            android:theme="@style/Theme.TXIoTDeviceDemo" />
        <activity
            android:name=".DeviceDetailActivity"
            android:exported="false"
            android:label="@string/detail_title"
            android:theme="@style/Theme.TXIoTDeviceDemo" />
    </application>

</manifest>