<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.tencent.iot.aitalk.demo</string>
	<key>CFBundleName</key>
	<string>iot_aitalk_demo</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This demo needs microphone access to enable voice conversation with the AI.</string>
</dict>
</plist>
